.albums {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
}

.albums .album {
    padding: 0.25em;
    cursor: pointer;
    transition: background-color 100ms ease-out;
}

.albums .album:is(:focus, :hover) {
    background-color: var(--bg-hov);
}

.albums .album__profile {
    width: 12em;
    aspect-ratio: 1;
    background-color: black;
}