.albums {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
    margin: 0.75em;
}

.albums .album {
    position: relative;
    padding: 0.25em;
    background-color: var(--bg-secondary);
    cursor: pointer;
    transition: background-color 100ms ease-out;
}

.albums .album::after {
    content: 'Album';
    position: absolute;
    inset: auto 1% 2% auto;
    padding: 0.35em 0.75em;
    border: 2px solid var(--txt);
    border-radius: 100vw;
}

.album .song::after {
    inset: 3% 0.5% auto auto;
}

.albums .album:is(:focus, :hover) {
    background-color: var(--bg-hov);
}

.albums .album__profile {
    width: 12em;
    aspect-ratio: 1;
    background-color: black;
}