.browse-container {
    display: grid;
    max-width: 1250px;
    margin-inline: auto;
}

.browse__controls {
    margin-block: 1em;
    width: 100%;
}

@media(max-width: 768px) {
    .browse__controls {
        flex-direction: column;
    }
}