.delete__part {
    padding: 1em;
    margin-inline: auto;
    margin-block: 1em;
    background-color: var(--bg-hov);
    text-align: center;
    border-radius: 1rem;
}

.delete__part .title__highlight {
    color: var(--clr-primary);
}