.form-container {
    max-width: 1100px;
    margin: 0 auto;
}

.auth--form {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 0.85em;
    width: 100%;
    padding: 1em;
    margin-block: 1em;
    background-color: var(--bg-hov);
    border-radius: 2px;
}

.form__splitter {
    position: relative;
    font-size: var(--fs-500);
    text-align: center;
    margin-top: 0.25em;
}

.form__splitter::before {
    content: '';
    position: absolute;
    background-color: white;
    width: calc(45% - 3vw);
    top: 50%;
    left: 0;
    height: 2px;
}

.form__splitter::after {
    content: '';
    position: absolute;
    background-color: white;
    width: calc(45% - 3vw);
    top: 50%;
    right: 0;
    height: 2px;
}

.form__divider {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.form__double-part {
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 0.75em;
    text-align: center;
}

.form__part {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 0.45em;
    width: 100%;
}

.form__part .form__label {
    font-size: var(--fs-450);
    font-weight: bold;
    color: var(--txt);
}

.form__part .form__inpt {
    font-size: calc(var(--fs-450) * 0.85);
    padding: 0.45em 0.65em;
    width: 100%;
    color: var(--txt-muted);
    background-color: var(--bg-secondary);
    border: 2px solid var(--bg-primary);
    transition: color 90ms ease-out;
}

.form__part .form__label-drop-inpt {
    position: relative;
    font-size: calc(var(--fs-600) * 2);
    padding: 1em;
    text-align: center;
    color: var(--txt-muted);
    border: 4px dashed var(--txt-muted);
    border-radius: 0.42rem;
    cursor: pointer;
}

.form__part .form__label-drop-inpt:is(:hover , :focus-within) {
    color: white;
    border-color: white;
}

.form__part .form__label-drop-inpt > input {
    position: absolute;
    inset: 0;
    width: 100%;
    opacity: 0;
    cursor: pointer;
}

.form__part .form__label-drop-inpt::after {
    content: attr(data-fname);
    position: absolute;
    font-size: var(--fs-450);
    font-family: 'Ubuntu';
    top: 76%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form__part .select__inpt {
    font-size: var(--fs-450);
    padding: 0.25em 0.65em;
    color: var(--txt);
    background-color: var(--bg);
    border: 0;
}

.form__part .form__helptext::first-letter {
    text-transform: uppercase;
}

.form__part .image__prev {
    width: 9em;
    aspect-ratio: 1;
    background-color: black;
    border-radius: 3px;
}


.form__part .form__helptext {
    font-size: calc(var(--fs-400) * 0.8);
    color: var(--clr-err);
    text-transform: lowercase;
}

.form__btn {
    font-size: calc(var(--fs-450) * 0.9);
    padding: 0.4em;
    margin-block: 0.5em;
    width: 100%;
    background-color: var(--clr-primary);
}

.part__btn {
    position: absolute;
    top: 47.5%;
    right: 1%;
    font-size: var(--fs-400);
    color: var(--txt-muted);
}

.form__link {
    font-size: calc(var(--fs-400) * 0.9);
    color: var(--clr-primary);
}

@media(max-width: 768px) {
    .form__double-part {
        flex-direction: column;
        margin-bottom: 0.5em;
    }

    .form__divider {
        grid-template-columns: 1fr;
    }

    .part__btn {
        top: 45.2%;
        right: 3%;
    }
}