@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  font-size: var(--fs-400);
  min-height: 100vh;
  background-color: var(--bg-primary);
  color: var(--txt);
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 95ms ease-out;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin-inline: auto;
  border-radius: inherit;
  object-fit: cover;
}

:focus {
  outline: 2px solid var(--clr-primary);
  outline-offset: 0.25rem;
  border-radius: 8px;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content:  space-between;
  min-height: 100vh;
}

:root {
  --bg-primary: hsl(225, 18%, 8%);
  --bg-secondary: hsl(225, 18%, 10%);
  --bg-hov: hsl(225, 18%, 16%);
  
  --bg: black;
  --txt: white;
  --txt-muted: hsl(225, 2%, 55%);

  --fs-400: clamp(0.75rem, 1vw + 0.1rem, 2rem);
  --fs-420: clamp(1rem, 1vw + 0.1rem, 2.5rem);
  --fs-450: clamp(1rem, 1.5vw + 0.1rem, 3rem);
  --fs-500: clamp(1.25rem, 2.5vw + 0.1rem, 4.75em);
  --fs-600: clamp(1.5rem, 2.5vw + 0.1rem, 5.25em);

  --clr-primary: hsl(274, 76%, 52%);
  --clr-secondary: hsl(274, 76%, 58%);
  --clr-warn: hsl(34, 100%, 53%);
  --clr-err: hsl(4, 100%, 53%);
  --clr-err-secondary: hsl(4, 100%, 60%);

  --popup-err: hsl(6, 100%, 46%);
  --popup-warn: hsl(26, 100%, 53%);
}

@media(max-width: 768px) {
  /* :root {
    --fs-400: 0.9rem;
    --fs-450: 1rem;
    --fs-500: 1.35rem;
  } */
}