.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader .loader__icon {
    width: 8em;
    aspect-ratio: 1;
    animation: spinLoad 3s ease-in-out infinite forwards alternate;
    transition: all 2s ease-out;
}

@keyframes spinLoad {
    from {
        transform: rotate(0deg) translateY(0px);
    }

    to {
        transform: rotate(920deg) translateY(20px);
    }
}