.music-player {
    position: fixed;
    display: flex;
    flex-direction: column;
    left: 3%;
    right: -50%;
    bottom: 0;
    height: 100%;
    width: 95%;
    transform: translateY(96%);
    border-radius: 6px 6px 0 0;
    background-color: var(--bg-hov);
    transition: transform 120ms ease-in;
}

.music-player .music__stats {
    font-size: calc(var(--fs-400) * 0.8);
    color: var(--txt-muted);
}

.music-player .music__stats .rate {
    color: var(--clr-warn);
}

.music-player .music__stats .views {
    color: var(--clr-primary);
}

.music-player .player__handle {
    min-width: 8rem;
    height: 1rem;
    margin: 0.25em;
    align-self: center;
    background-color: var(--bg-secondary);
    cursor: pointer;
}

.music-player .music__thumbnail {
    width: 18em;
    aspect-ratio: 1;
    margin-block: 1em;
    background-color: black;
    border-radius: 0.5rem;
}

.music-player .music__controls {
    font-size: var(--fs-450);
    margin-top: 1em;
}

.music-player .music__control {
    color: var(--txt-muted);
    transition: color 100ms ease-out;
}

.music-player .music__control:is(:hover, :focus-visible) {
    color: var(--txt);
}

.music-player .music__bar {
    position: relative;
    width: 90%;
    height: 0.75rem;
    margin-top: 2em;
    background-color: var(--bg-secondary);
    border-radius: 1px;
    cursor: pointer;
}

.music-player .music__progress {
    content: '';
    position: absolute;
    inset: 0;
    background-color: var(--clr-primary);
    transform: scaleX(0.58);
    transform-origin: left;
    transition: transform 120ms linear;
}

.music-player .music__progress::after {
    content: '';
    position: absolute;
    width: 3em;
    aspect-ratio: 1 / 0.65;
    top: -75%;
    right: -2%;
    background-color: white;
    border-radius: 50%;
    transform: scale(0);
    transition: transform 70ms ease-out;
}

.music-player .music__bar:hover > .music__progress::after {
    transform: scale(1);
}