.popup {
    position: fixed;
    display: flex;
    visibility: hidden;
    flex-direction: column;
    gap: 0.5em;
    inset: 10% auto auto 78%;
    background-color: var(--popup-err);
    padding: 0.25em 0.5em;
    width: 18em;
    border-radius: 2px;
    box-shadow: 0 0 3px 7px rgba(0, 0, 0, 0.25);
}

.popup::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: var(--txt);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 5.15s ease-out;
}

.popup .popup__head {
    font-size: calc(var(--fs-400) * 1.1);
}

.popup .popup__text {
    max-width: 100%;
    word-wrap: break-word;
    padding-bottom: 0.25em;
}

.popup.active {
    visibility: visible;
    animation: appear 1.5s ease-out forwards;
}

.popup.active::after {
    transform: scaleX(1);
}

.popup.inactive {
    visibility: visible;
    animation: disappear 1.5s ease-out forwards;
}

.popup.error {
    background-color: var(--popup-err);
}

.popup.warning {
    background-color: var(--popup-warn);
}

.popup.info {
    background-color: var(--clr-primary);
}

/* Animations */
@keyframes appear {
    0% {
        transform: translateX(500px);
    }

    75% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(0px);
    }
}

@keyframes disappear {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-10px);
    }

    100% {
        transform: translateX(500px);
    }
}