.user__home {
    margin-block: 1em;
}

.user__home .home__part {
    width: 100vw;
    max-height: 16em;
    margin-block: 0.5em;
}

.user__home .part__items {
    max-width: 100%;
    max-height: 100%;
    overflow-x: auto;
}

.user__home .part__items > * {
    max-width: 12em;
    height: 100%;
}