.user__settings {
    padding: 1em;
    margin-block: 1.25em;
    background-color: var(--bg-hov);
}

.setting__part .part__label {
    font-size: var(--fs-450);
    font-weight: bold;
}

.setting__part .part__profile-preview {
    width: 8em;
    margin-block: 0.65em;
    aspect-ratio: 1;
    align-self: center;
    background-color: black;
    border-radius: 6px;
}