/* Flex & Grid */
.flex--align--between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex--align {
    display: flex;
    align-items: center;
    height: 100%;
}

.flex--align--end {
    align-items: flex-end;
}

.flex--center {
    justify-content: center;
}

.flex--col {
    flex-direction: column;
}

.flex--around {
    justify-content: space-around;
}

.flex--align--end {
    align-items: flex-end;
}

.flex {
    display: flex;
}

.gap--1 {
    gap: 1em;
}

.gap--2 {
    gap: 2em;
}

.gap--05 {
    gap: 0.5em;
}

/* Buttons */
.btn--def {
    font-size: var(--fs-450);
    background-color: transparent;
    color: var(--txt);
    border: 0;
    cursor: pointer;
}

.btn--primary {
    font-size: var(--fs-450);
    padding: 0.35em 0.7em;
    background-color: var(--clr-primary);
    border-radius: 6px;
    transition: background-color 95ms ease-out;
}

.btn--primary:hover:not(.cust) {
    background-color: var(--clr-secondary);
}

.btn--err:has(.err) {
    background-color: var(--clr-err);
}

.btn--err:has(.err):hover {
    background-color: var(--clr-err-secondary);
}

.btn--group {
    display: flex;
    justify-content: space-between;
}

.group--y {
    flex-direction: column;
}

/* Inputs */
.inpt--def {
    font-size: calc(var(--fs-400) * 1.25);
    background-color: transparent;
    color: var(--txt);
    border: 0;
}

.input--primary {
    width: 75%;
    max-width: 75%;
    padding: 0.25em 0.65em;
    color: var(--txt-muted);
    background-color: var(--bg-hov);
    border: 2px solid var(--bg-secondary);
    border-radius: 6px;
}

.input--select {
    font-size: var(--fs-450);
    padding: 0.25em;
    border: 0;
    color: var(--txt);
    background-color: var(--bg);
}

.input--select option {
    text-transform: capitalize;
    color: var(--txt);
    background-color: var(--bg);
}

input[type="radio"] {
    accent-color: var(--clr-primary);
}

input[type="radio"] + *::after {
    content: '';
    position: absolute;
    visibility: hidden;
    inset: 0;
    background-color: var(--clr-primary);
    width: 1.5em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -47%);
    aspect-ratio: 1;
    border-radius: 50%;
    isolation: isolate;
    z-index: -1;
}

input[type="radio"]:checked + *::after {
    visibility: visible;
}

/* Positions */
.pos--relative {
    position: relative;
}

.self--center {
    margin-inline: auto;
}

/* Backgrounds */

/* Colors */
.err {
    background-color: var(--clr-err);
}

.warn {
    background-color: var(--clr-warn);
}

/* Misc */
.link--split {
    border: 1px solid gray;
}

.link--split.y {
    height: var(--fs-400);
}

.link--split.x {
    width: var(--fs-400);
}

.hidden {
    display: none;
}

.vis--hidden {
    visibility: hidden;
}

.round {
    border-radius: 100vw;
}

.reverse {
    transform: rotate(-180deg);
}

.capitalize {
    text-transform: capitalize;
}

.elliptic {
    max-width: 100%;
    overflow: hidden;
    line-height: 1.2;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Text */
.text--center {
    text-align: center;
}

.txt--muted {
    color: var(--txt-muted);
}

.txt--small {
    font-size: var(--fs-450);
}

/* Transitions */
.trans--bg {
    transition: background-color 95ms ease-out;
}

/* Accessibility */
.absolute--open:not(:focus) > * {
    visibility: hidden;
}

.absolute--open.active > * {
    visibility: visible;
}

/* Margins & Paddings */
.mt-1 {
    margin-top: 1em;
}