.primary-nav {
    position: relative;
    padding-block: 0.75em;
    padding-inline: 2em;
    background-color: var(--bg);
}

.primary-nav .nav__head {
    transition: transform 95ms ease-in;
}

.primary-nav .nav__title {
    font-size: var(--fs-500);
}

.primary-nav .nav__icon {
    width: clamp(2.25rem, 4vw, 6rem);
    aspect-ratio: 1;
}

.primary-nav .nav__link {
    font-size: calc(var(--fs-450) * 0.95);
    transition: color 95ms ease-out;
    height: 100%;
}

.primary-nav .nav__link a:is(:hover, :focus-visible) {
    color: var(--clr-primary);
}

.primary-nav .nav__dropdown {
    display: none;
}

.primary-nav .nav__skip {
    position: absolute;
    padding: 0.25em;
    background-color: var(--clr-primary);
    outline: 2px solid var(--txt);
    outline-offset: 4px;
    transform: translateX(-200px);
    transition: transform 100ms ease-in;
}

.primary-nav .nav__skip:focus-visible {
    transform: translateX(-10px)
}

.primary-nav .nav__skip:focus-visible + .nav__head {
    transform: translateX(120px)
}

@media(max-width: 768px) {
    .primary-nav .nav__links {
        display: none;
    }

    .primary-nav .nav__dropdown {
        display: block;
    }
}