/* Flex & Grid */
.flex--align--between {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.flex--align {
    display: flex;
    align-items: center;
    height: 100%;
}

.flex--col {
    flex-direction: column;
}

.flex--around {
    justify-content: space-around;
}

.flex {
    display: flex;
}

.gap--1 {
    gap: 1em;
}

.gap--05 {
    gap: 0.5em;
}

/* Buttons */
.btn--def {
    font-size: var(--fs-500);
    background-color: transparent;
    color: var(--txt);
    border: 0;
    cursor: pointer;
}

/* Backgrounds */


/* Misc */
.link--split {
    border: 1px solid gray;
}

.link--split.y {
    height: var(--fs-400);
}

.link--split.x {
    width: var(--fs-400);
}

.hidden {
    display: none;
}

.round {
    border-radius: 100vw;
}

/* Text */
.text--center {
    text-align: center;
}

/* Transitions */
.trans--bg {
    transition: background-color 95ms ease-out;
}